@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  font-family: "Nunito Sans";
}
/* @font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200, 300, 400, 500, 600, 700;
  font-display: swap;
  src: url(https://fonts.google.com/specimen/Nunito+Sans);
  
} */

html {
  font-family: var(--font-nunito);
}

.dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.light{
background-color: hsl(0, 0%, 98%);
color: hsl(200, 15%, 8%);
}

.darkElement{
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.lightElement{
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
input.searchlight{
  background-image: url("/search.svg") ;
  background-position-x: 20px;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-right: 50px;
  
  
}
input.searchdark{
  background-image: url("/searchdark.svg") ;
  background-position-x: 20px;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-right: 50px;
  
}